# Python
*.py[cod]
__pycache__/
*.so
*.egg-info/
dist/
build/
*.egg

# Flask
instance/
webassets-manifest.*
.cache/

# IDE
.vscode/
.idea/
*.iml
*.ipr
*.iws

# OS X
.DS_Store
.AppleDouble
.LSOverride

# Editors
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools/

migrations/
